.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 16px;
}

.checkbox-input {
  appearance: none;
}

.checkbox-indicator {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 2px solid;
}

.checkbox-input:checked + .checkbox-indicator {
  background-position: center;
  background-color: #00ae1c;
  border-color: #00ae1c;
  background-image: url('../../../../public/icons/check.svg');
  background-size: contain;
}

.checkbox-text {
  margin-left: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 112%;
  color: #000;
}
