.select-container {
  position: relative;
  min-width: 100px;
  padding-bottom: 9px;
  border-bottom: 1px solid #323749;
}

.select-title {
  margin-bottom: 7px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #323749;
}

.select {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #323749;
}

.select:hover {
  cursor: pointer;
}

.select-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 180px;
  overflow-y: auto;
  background-color: #fff;
  transform: translateY(5px);

  box-shadow: 0 1px 2px 0 rgba(69, 69, 69, 0.25);
  border: 1px solid #dedfe5;
  border-radius: 8px;

  scrollbar-width: thin;
  scrollbar-color: #dedfe5 transparent;
  z-index: 5;
}

.select-option {
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 36px;

  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #323749;
}

.select-option:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

.select-options::-webkit-scrollbar {
  width: 4px;
}

.select-options::-webkit-scrollbar-track {
  background: transparent;
}

.select-options::-webkit-scrollbar-thumb {
  background-color: #dedfe5;
  border-radius: 3px;
}

.selected-option {
  background-color: #e3e3e3;
}
.selected-option:hover {
  background-color: #e3e3e3;
}
