.modal {
  position: absolute;

  padding: 16px;
  min-width: 320px;

  border-radius: 8px;
  box-shadow: 0 16px 50px 0 rgba(0, 0, 0, 0.24);
  background-color: #fff;

  z-index: 5;
  opacity: 1;
  pointer-events: all;
}

.modal-title {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #dedfe5;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 104%;
  letter-spacing: -0.03em;
  color: #323749;
}


.modal-button-close {
  padding: 0;
  position: absolute;
  top: 20px;
  right: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

