.greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 300px;

  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}

.greeting-logo {
  width: 407px;
  margin-bottom: 40px;
}
