.field-container {
  width: 100%;
  height: 40px;
}

.input-label {
  display: block;
  margin-bottom: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #323749;
}

.input-container {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #323749;
  margin-bottom: 4px;
}

.input-container.error {
  border-bottom: 1px solid #ff5620;
}

.input {
  display: block;
  background: transparent;
  padding-right: 20px;
  padding-left: 0;
  width: 100%;
  height: 16px;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #323749;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #323749;
  opacity: 0.8;
}

.password-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.error-message {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #ff5620;
}

.disabled {
  color: #737373;
  pointer-events: none;
}
