.color-picker-container {
}

.color-picker-title {
  margin-bottom: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #323749;
}

.color-picker {
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  border: 1px solid #dedfe5;
  box-sizing: content-box;
  border-radius: 4px;
}

.color-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
}
.color-container.selected {
  border: 2px solid #323749;
}

.color {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
